<div class="container">
    <div class="row">
        <div class="col-md-6"> 
            <app-contentprojectionchild [products]="salesProducts">
            <h1 class="header" #head>Up to 70% off</h1>
            <p #head>lol...</p>
            <a href="" class="link">See more...</a>
            </app-contentprojectionchild>
        </div>
    
        <div class="col-md-6"> 
            <app-contentprojectionchild [products]="topProducts">
            <h1 class="header">View our top products</h1>
            <a href="" class="link">View</a>
            </app-contentprojectionchild>
        </div>
    </div>
</div>
    

    



