<pre>{{info | json}} </pre>
<pre>{{fullInfo | json}} </pre>
<h1>Main Products</h1>
<pre>{{products | json }} </pre>



<h1>Mapped Products</h1>

<pre> {{mappedProducts | json}} </pre>

<h1> Filtered products</h1>
<pre> {{filteredProducts | json}} </pre>

<h1>Found products</h1>
<pre>{{foundProduct | json}} </pre>
{{foundProductIndex}}

<h1>Sum</h1>
{{sum}}

<h1>Sliced Products</h1>
<pre> {{slicedProducts|json}} </pre>

<qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>

