<p>invcharacter works!</p>

@if (characterFromId$| async; as character) {
    <div  class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-sm md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" [src]="character.image" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{character.name}} ({{character.characterId}})</h5>

        </div>
    </div>


    <p-button (click)="showDialog()" label="Show" />
<p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <form [formGroup]="form">
    <span class="p-text-secondary block mb-8">Write a comment</span>
    
    {{form.value | json}}
    <div class="flex items-center gap-4 mb-4">
        <label for="username" class="font-semibold w-24">Comment</label>
        <input pInputText id="username" class="flex-auto" autocomplete="off" formControlName="comment"/> 
    </div>
    
    <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="visible = false" />
        <p-button label="Save" (click)="visible = false" />
    </div>
</form>
</p-dialog>
}



<button [routerLink]="['/view0']" type="button" class="text-white bg-purple-700 hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">Back</button>