
<!-- <label>Find city</label>
<input type="text" #cityquery>
<button (click)="getCity(cityquery.value)">Get</button>


{{city}}

@if(city) {
  <app-weatherforecast [cityName]="city" ></app-weatherforecast>
} -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
       
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/ws34']" [routerLinkActive]="['active']">WS34</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ws35" [routerLinkActive]="['active']">WS35</a>
        </li>
       
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
