


<table class="table">
    <thead>
        <tr>
            <td>Employee Id</td>
            <td> First Name</td>
            <td>Last Name </td>
            <td> Email</td>
        </tr>
    </thead>
    <tbody>
        <!-- <tr>
            <td>{{employee?.id}}</td>
            <td>{{employee.firstName}}</td>
            <td> {{employee.lastName}}</td>
            <td> {{employee.emailId}}</td>
        </tr> -->
        @if (employeeViaStore$ | async; as employee) {
            <tr>
                <td>{{employee?.id}}</td>
                <td>{{employee.firstName}}</td>
                <td> {{employee.lastName}}</td>
                <td> {{employee.emailId}}</td>
            </tr>
        } @else {
            <p> employee not found</p>
        }
        
    </tbody>

</table>