<a [routerLink]="['/array']">Array</a>
<a [routerLink]="['/contentprojection']">contentprojection</a>
<a [routerLink]="['/chukexample']">chuk example</a>

<!-- <h1>ViewChild demo in angular</h1>

<button type="button" mat-stroked-button (click)="changeChildText()"> Change ViewChild Text</button>


@if (isShow) {
    <img width="30%" height="30%" #mgImg src="https://picsum.photos/200/300"> 
}

<button (click)="inc()">Increase</button>
<button (click)="dec()">Decrease</button>

<app-vc2 #childView></app-vc2> -->


<!-- {{childComp2.counter}} -->

<router-outlet></router-outlet>

<!-- <app-arraychanges></app-arraychanges> -->